@use "../base/color-palettes";
@use "../base/type-setting";

footer {
  background: color-palettes.$secondary;
  color: color-palettes.$rev;
  padding: 1em;
  display: flex;
  flex-direction: column;

  > * {
    padding: 1em 0;
  }
  .social img {
    height:1em;
    width: auto;
    padding: .25em;
    margin: 0 1em;
    fill: currentcolor;
  }

  .legal {
    font-size: 70%;
    font-weight: 300;
    font-family: type-setting.$font-sans;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
  }
  a {
    text-decoration: none;
  }

  .brand a {
    text-decoration: none;
    color: color-palettes.$rev;
    p {
      font-family: type-setting.$font-sans;
    }
  }

}

@media only screen and (min-width:1000px){
    footer {
      flex-direction: row;
    }
}
