// $primary: #335C67;
// $accent: #335C67;
//
// body {
//   font-family: sans-serif;
//   background-color: #f9f9f9;
//   display: grid;
//   grid-template-columns: 5vw 1fr 5vw;
//   grid-template-rows: auto 1fr auto;
//   grid-template-areas: "header header header" "main main main" "footer footer footer";
//   min-height: 100vh;
//   margin: 0;
// }
//
// header {grid-area: header; flex-grow: 1; background: $accent;}
// main {grid-area: main; flex-grow: 3; background: #FAF9F8;}
// footer {grid-area: footer; flex-grow: 1}


// Base files
@use "base/normalize";
@use "base/variables";
@use "base/color-palettes";
@use "base/type-setting";
@use "base/grid-up";

// Sections

@use "sections/header";
@use "sections/nav";
@use "sections/hero";
@use "sections/card-grid";
@use "sections/grid-cards";
@use "sections/feature";
@use "sections/article";
@use "sections/footer";
@use "sections/team";
@use "sections/contact";
@use "sections/palette";
@use "sections/recipe";
@use "sections/cuisine";

// Modules
@use "modules/buttons";
@use "modules/video";
@use "modules/figure";
