---
layout: default
---

<aside>

{% assign alldocs = site.recipes %}

<h2>Meals</h2>
{% assign meals =  alldocs | map: 'categories' | join: ','  | split: ','  | group_by: categories %}

<ul>
  {% for tag in meals %}
<li style="display: inline; background-color: red; color: #fff; padding: .25em; text-transform:capitalize;">{{tag.size}} {{ tag.name}} recipes</li>
{% endfor %}
</ul>

<h2>Cuisine</h2>
{% assign cuisine =  alldocs | map: 'cuisine' | join: ','  | split: ','  | group_by: cuisine %}
<ul class="cuisine">{% for item in cuisine %}
  <li> {{ item.name }}<sup>{{item.size}}</sup></li>
{% endfor %}
</ul>

<h2>Tags</h2>
{% assign tags = site.recipes | map: 'tags' | join: ','  | split: ',' | uniq | sort %}
<div class="button-group filters-button-group">
{% for item in tags %}
  <button class="filter" data-filter="{{ item }}">{{ item }}</button>
{% endfor %}
</div>

<hr />

</aside>


<article class="gridup">
{% assign all-recipes = site.recipes | sort: 'title' %}
{% for item in all-recipes %}
  <section>
      <a href="{{ site.baseurl }}/{{ item.url }}" style="background-image: linear-gradient(to top,rgba(0,0,0,.3),rgba(0,0,0,.3)), url({{ site.baseurl }}/{{ item.image }}); background-position: center center; background-size: cover;">
      <h2>{{ item.title }}</h2>
      <p>{{ item.description }}</p>
    </a>
  </section>
{% endfor %}
</article>
