<section class="palette">

  <div class="brand swatch {{ item }}-a">
    <h3>{{ item  | capitalize }}</h3>
</div>

  <div class="row">
    <div class="swatch {{ item }}-l2">
      <p><span class="small-text">{{ item }}-l2</span></p>
    </div>
    <div class="swatch {{ item }}-l1">
      <p><span class="small-text">{{ item }}-l1</span></p>
    </div>
    <div class="swatch {{ item }}-a">
      <p><span class="small-text">{{ item  }}-a</span></p>
    </div>
    <div class="swatch {{ item }}-d1">
      <p><span class="small-text">{{ item  }}-d1</span></p>
    </div>
    <div class="swatch {{ item }}-d2">
      <p><span class="small-text">{{ item  }}-d2</span></p>
    </div>
    <div class="swatch {{ item }}-blk">
      <p><span class="small-text">{{ item  }}-blk</span></p>
    </div>
  </div>

  <div class="row">
    <div class="swatch {{ item }}-trans-90">
      <p><span class="small-text">{{ item  }}-trans-90</span></p>
    </div>
    <div class="swatch {{ item }}-trans-70">
      <p><span class="small-text">{{ item }}-trans-70</span></p>
    </div>
    <div class="swatch {{ item }}-trans-50">
      <p><span class="small-text">{{ item }}-trans-50</span></p>
    </div>
    <div class="swatch {{ item }}-trans-30">
      <p><span class="small-text">{{ item }}-trans-30</span></p>
    </div>
    <div class="swatch {{ item }}-trans-10">
      <p><span class="small-text">{{ item }}-trans-30</span></p>
    </div>
  </div>



</section>
