<div class="social">
  {% for item in site.social-twitter %}<a href="https://www.twitter.com/{{ item }}" aria-label="Twitter Link"><img src="assets/images/twitter.svg" alt="Twitter Logo"/></a>{% endfor %}
  {% for item in site.social-facebook %}<a href="https://www.facebook.com/{{ item }}" aria-label="Facebook Link"><img src="assets/images/facebook-f.svg" alt="Facebook Logo"/></a>{% endfor %}
  {% for item in site.social-linkedin %}<a href="https://www.linkedin.com/{{ item }}" aria-label="LinkedInLink"><img src="assets/images/linkedin-in.svg" alt="LinkedIn Logo"/></a>{% endfor %}
  {% for item in site.social-github %}<a href="https://www.github.com/{{ item }}" aria-label="GitHub Link"><img src="assets/images/github-in.svg" alt="GitHub Logo"/></a>{% endfor %}
</div>
