<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<link rel="icon" type="image/svg+xml" href="{{'/assets/favicon.svg' |url}}">
<link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | url}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | url }}">
<!-- <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/favicon-16x16.png' | url }}"> -->
<link rel="manifest" href="{{'/assets/site.webmanifest' | url }}">
<link rel="mask-icon" href="{{'/assets/safari-pinned-tab.svg' | url }}" color="#314f2e">
<link rel="shortcut icon" href="{{'/assets/favicon.ico' | url }}">
<meta name="apple-mobile-web-app-title" content="Recipe Book">
<meta name="application-name" content="Recipe Book">
<meta name="msapplication-TileColor" content="#314f2e">
<meta name="msapplication-config" content="{{'/assets/browserconfig.xml' | url }}">
<meta name="theme-color" content="#314f2e">
<link rel="stylesheet" href="{{ '/css/new.css' | url }}" />

<link rel="stylesheet" href="{{ '/pagefind/pagefind-ui.css' | url }}">

<style>
  @media (prefers-color-scheme: dark) {
    :root {
      --pagefind-ui-primary: #eeeeee;
      --pagefind-ui-text: #eeeeee;
      --pagefind-ui-background: #152028;
      --pagefind-ui-border: #152028;
      --pagefind-ui-tag: #152028;
    }
  }
</style>


</head>


	{{ content | safe }}

<footer>
  <p>Made with 11ty by @<a href="https://heartsoulmachine.com/">Tim Klapdor</a> {{ helpers.currentYear() }}</p>
</footer>
</body>
</html>
