<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
</head>
<body>
	<header class="brand">
		  <a href="{{ '/' | url }}">
		    <h1 class="logo-present">{{ title }}</h1>
		    <img src="{{ '/assets/recipe-book-rev.svg' | url }}" alt="Recipe Book Logo">
		  </a>
		</header>
	<main>
	{{ content | safe }}
	</main>
	<footer>

	</footer>
</body>
</html>
