figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;

  figcaption {
    font-size: 90%;
    font-style: italic;
    color: $neutral-d1;
    text-align: center;
  }
  &.center img {
    align-self: center;
  }
  &.right img {
    align-self: flex-end;
  }
  &.left img {
    align-self: flex-start;
  }
}
