/**  Sans Serif **/
/**  Serif **/
html {
  background: #314f2e;
}

/** Grid Setup **/
body {
  min-height: calc(100vh - 2ch);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  font-size: calc( 16px + (22 - 16) * ( (100vw - 300px) / ( 2000 - 300) )) !important;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;
  font-weight: 400;
  background: #f9f9f9;
  border-radius: 0.5ch;
  color: #4a4a4a;
  margin: 1ch;
}
body.recipe {
  grid-template-areas: "hd hd title title title title title title" "tags details ingredients ingredients directions directions directions directions" "image image ingredients ingredients directions directions directions directions" "image image ingredients ingredients directions directions directions directions" "footer footer footer footer footer footer footer footer";
  row-gap: 0.5em;
}
body.home {
  grid-template-areas: "hd hd title title title title title title" "tags tags grid grid grid grid grid grid" "tags tags grid grid grid grid grid grid" "tags tags grid grid grid grid grid grid" "footer footer footer footer footer footer footer footer";
}

@media screen and (max-width: 810px) {
  body.home {
    grid-template-areas: "hd hd hd hd title title title title" "tags tags grid grid grid grid grid grid" "tags tags grid grid grid grid grid grid" "tags tags grid grid grid grid grid grid" "footer footer footer footer footer footer footer footer";
  }
  body.recipe {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "hd hd hd hd" "title title title title" "image image image image" "tags details details details" "ingredients ingredients ingredients ingredients" "directions directions directions directions" "footer footer footer footer";
  }
  body header.brand {
    justify-content: center;
  }
  body header.brand img {
    margin: 1ch;
    max-height: 10vh;
  }
  body section.title {
    padding: 0 1ch;
  }
  body section.ingredients {
    border-left: none;
  }
  body section.directions {
    border-left: none;
  }
  body .details ul {
    display: flex;
    flex-flow: row wrap;
    gap: 2ch;
    align-items: baseline;
  }
  body .tags ul li.status svg {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 8em;
    transform: scale(0.8);
  }
}
header, footer {
  flex-direction: row;
}

header.brand {
  grid-area: hd;
  display: flex;
  flex-direction: row;
}
header.brand img {
  max-height: 10vh;
}
header.brand .logo-present {
  display: none;
}

section.title {
  grid-area: title;
}

section.tags {
  grid-area: tags;
  padding: 2ch 1ch;
  border-top: 4px solid #314f2e;
}

section.details {
  grid-area: details;
  padding: 2ch 1ch;
  border-top: 4px solid #314f2e;
}

section.ingredients {
  grid-area: ingredients;
  padding: 2ch 1ch;
  border-top: 4px solid #314f2e;
  border-left: 2px solid #314f2e;
}

section.directions {
  grid-area: directions;
  padding: 2ch 1ch;
  border-top: 4px solid #314f2e;
  border-left: 2px solid #314f2e;
}

section.image {
  grid-area: image;
  padding: 0;
  margin: 0;
}

section.gridup {
  grid-area: grid;
  border-left: 4px solid #314f2e;
  border-top: 4px solid #314f2e;
}

footer {
  grid-area: footer;
}

/** Set Fonts **/
p {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;
}

h1, h2, h3, h4, h5, h6, aside {
  font-family: "Vollkorn", Times, Georgia, serif !important;
  font-weight: 700;
  margin: 0.2em;
}

p, blockquote, ul, ol {
  line-height: 1.7;
  font-weight: 400;
}

h1 {
  font-size: 300%;
  padding: 0.2em 0 0 0;
  line-height: 0.9;
  margin: 0;
  font-weight: extra-bold;
}

h2 {
  font-size: 180%;
  padding: 0.2em 0 0 0;
  line-height: 0.9;
  margin: 0.2em;
  font-style: italic;
  font-weight: normal;
}

h3 {
  font-size: 120%;
  padding: 0.2em 0 0 0;
  line-height: 0.9;
  margin: 0 0 0.7em;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;
  text-transform: uppercase;
}

h4 {
  font-size: 120%;
  padding: 0.2em 0 0 0;
  line-height: 0.9;
  border-top: 2px dotted rgba(0, 0, 0, 0.25);
  padding-top: 1ch;
}

h5 {
  font-size: 130%;
  padding: 0.2em 0 0 0;
  line-height: 0.9;
}

h6 {
  font-size: 120%;
  padding: 0.2em 0 0 0;
  margin: 0.2em 0;
  line-height: 0.9;
}

p {
  font-size: 100%;
  padding: 0.2em 0 0 0;
  line-height: 1.7;
}

figure {
  padding: 0 1ch;
  margin: 0;
}

a {
  color: #314f2e;
}
a:hover {
  color: #E54B4B;
}

/** Tags **/
.tags h2 {
  font-style: normal;
  font-size: 100%;
  margin: 1ch 0 0.5ch;
}
.tags h2:first-of-type {
  margin-top: 0;
}

.tags ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 70%;
}
.tags ul li.tag {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.2em 0.4em;
  margin: 0.2em;
  border: solid 2px #000;
}
.tags ul li.category {
  background: #6fbf69;
  color: #f9f9f9;
}
.tags ul li.cuisine {
  background: #9aba4e;
  color: #f9f9f9;
}
.tags ul li.season {
  background: #f8a637;
  color: #f9f9f9;
}
.tags ul li.effort {
  background: #1f7f60;
  color: #f9f9f9;
}
.tags ul li.keyword {
  background: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.tags ul li.diet {
  text-align: center;
  min-width: 2ch;
}
.tags ul .gf {
  background: #f8a637;
  color: #f9f9f9;
}
.tags ul .v {
  background: #6fbf69;
  color: #f9f9f9;
}
.tags ul .vg {
  background: #1f7f60;
  color: #f9f9f9;
}
.tags ul .df {
  background: #4a4a4a;
  color: #f9f9f9;
}
.tags ul li.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 30%;
}
.tags ul li.status svg {
  width: 12ch;
  height: 13ch;
}
.tags ul li.status:hover svg {
  fill: #f9f9f9;
}
.tags ul li.mixitup-control-active {
  background: #E54B4B;
  color: #f9f9f9;
}
.tags ul li.mixitup-control-active svg {
  fill: #f9f9f9;
}

/** Details **/
.details ul {
  margin: 0;
  padding: 0 0.5em;
  list-style: none;
}
.details ul li {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  line-height: 1.3;
}
.details ul li:first-of-type, .details ul li:last-of-type {
  margin: 0 0;
}
.details ul li.status img {
  cursor: auto;
  width: 7ch;
}
.details ul li strong {
  text-transform: uppercase;
  font-size: 70%;
  color: rgba(0, 0, 0, 0.55);
}

/** Ingredients **/
.ingredients ul {
  margin: 0 0.2em;
  padding: 0 0.5em;
  list-style: square;
}
.ingredients ul li {
  margin: 0 0.2em;
}

.directions ol {
  margin: 0 0.2em;
  padding: 0 1em;
}
.directions ol li {
  margin: 1em 0;
}

/** Footer **/
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2em;
}
footer p {
  font-family: "Vollkorn", Times, Georgia, serif !important;
  font-size: 80%;
}

section.gridup {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: minmax(250px, 5em);
  grid-gap: 1rem;
  padding: 1rem;
}
section.gridup article {
  grid-column: auto;
  border-radius: 4px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F8F8F8;
  -webkit-transform: translateZ(0);
}
section.gridup article a {
  padding: 0.5rem;
  align-items: flex-start;
  color: #fff;
  height: 95%;
  width: 95%;
  text-decoration: none;
}
section.gridup article a h2 {
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}
section.gridup article a p {
  line-height: 1;
}
section.gridup article a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

ul.status {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12ch, 1fr));
}

.button {
  cursor: pointer;
}
.button:hover {
  background: #75485E !important;
  color: #f9f9f9 !important;
}
.button:hover svg path {
  fill: #f9f9f9;
}
.button:active, .button.mixitup-control-active {
  background: #E54B4B;
}
