@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active {
  outline: 0;
}
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.no-flick {
  webkit-perspective: 0;
  webkit-backface-visibility: none;
}

.u-pad-extra {
  padding: 2rem 0;
}

.primary-text {
  color: #335C67;
}

.primary-l1 {
  background-color: rgb(112.2, 140.9, 148.6);
}

.primary-l2 {
  background-color: rgb(224.4, 230.55, 232.2);
}

.primary-a {
  background-color: #335C67;
  color: #fff;
}

.primary-d1 {
  background-color: rgb(30.6, 55.2, 61.8);
  color: #fff;
}

.primary-d2 {
  background-color: rgb(25.5, 46, 51.5);
  color: #fff;
}

.primary-blk {
  background-color: rgb(10.2, 18.4, 20.6);
  color: #fff;
}

.primary-trans-90 {
  background-color: rgba(51, 92, 103, 0.1);
  color: #fff;
}

.primary-trans-70 {
  background-color: rgba(51, 92, 103, 0.3);
  color: #fff;
}

.primary-trans-50 {
  background-color: rgba(51, 92, 103, 0.5);
  color: #fff;
}

.primary-trans-30 {
  background-color: rgba(51, 92, 103, 0.7);
  color: #fff;
}

.primary-trans-10 {
  background-color: rgba(51, 92, 103, 0.9);
  color: #fff;
}

.secondary-text {
  color: #303036;
}

.secondary-l1 {
  background-color: rgb(110.1, 110.1, 114.3);
}

.secondary-l2 {
  background-color: rgb(223.95, 223.95, 224.85);
}

.secondary-a {
  background-color: #303036;
  color: #fff;
}

.secondary-d1 {
  background-color: rgb(28.8, 28.8, 32.4);
  color: #fff;
}

.secondary-d2 {
  background-color: #18181b;
  color: #fff;
}

.secondary-blk {
  background-color: rgb(9.6, 9.6, 10.8);
  color: #fff;
}

.secondary-trans-90 {
  background-color: rgba(48, 48, 54, 0.1);
  color: #fff;
}

.secondary-trans-70 {
  background-color: rgba(48, 48, 54, 0.3);
  color: #fff;
}

.secondary-trans-50 {
  background-color: rgba(48, 48, 54, 0.5);
  color: #fff;
}

.secondary-trans-30 {
  background-color: rgba(48, 48, 54, 0.7);
  color: #fff;
}

.secondary-trans-10 {
  background-color: rgba(48, 48, 54, 0.9);
  color: #fff;
}

.accent-text {
  color: #A4D100;
}

.accent-l1 {
  background-color: rgb(191.3, 222.8, 76.5);
}

.accent-l2 {
  background-color: rgb(241.35, 248.1, 216.75);
}

.accent-a {
  background-color: #A4D100;
  color: #fff;
}

.accent-d1 {
  background-color: rgb(98.4, 125.4, 0);
  color: #fff;
}

.accent-d2 {
  background-color: rgb(82, 104.5, 0);
  color: #fff;
}

.accent-blk {
  background-color: rgb(32.8, 41.8, 0);
  color: #fff;
}

.accent-trans-90 {
  background-color: rgba(164, 209, 0, 0.1);
  color: #fff;
}

.accent-trans-70 {
  background-color: rgba(164, 209, 0, 0.3);
  color: #fff;
}

.accent-trans-50 {
  background-color: rgba(164, 209, 0, 0.5);
  color: #fff;
}

.accent-trans-30 {
  background-color: rgba(164, 209, 0, 0.7);
  color: #fff;
}

.accent-trans-10 {
  background-color: rgba(164, 209, 0, 0.9);
  color: #fff;
}

.warning-text {
  color: #FFDC0B;
}

.warning-l1 {
  background-color: rgb(255, 230.5, 84.2);
}

.warning-l2 {
  background-color: rgb(255, 249.75, 218.4);
}

.warning-a {
  background-color: #FFDC0B;
  color: #fff;
}

.warning-d1 {
  background-color: rgb(153, 132, 6.6);
  color: #fff;
}

.warning-d2 {
  background-color: rgb(127.5, 110, 5.5);
  color: #fff;
}

.warning-blk {
  background-color: rgb(51, 44, 2.2);
  color: #fff;
}

.warning-trans-90 {
  background-color: rgba(255, 220, 11, 0.1);
  color: #fff;
}

.warning-trans-70 {
  background-color: rgba(255, 220, 11, 0.3);
  color: #fff;
}

.warning-trans-50 {
  background-color: rgba(255, 220, 11, 0.5);
  color: #fff;
}

.warning-trans-30 {
  background-color: rgba(255, 220, 11, 0.7);
  color: #fff;
}

.warning-trans-10 {
  background-color: rgba(255, 220, 11, 0.9);
  color: #fff;
}

.success-text {
  color: #318700;
}

.success-l1 {
  background-color: rgb(110.8, 171, 76.5);
}

.success-l2 {
  background-color: rgb(224.1, 237, 216.75);
}

.success-a {
  background-color: #318700;
  color: #fff;
}

.success-d1 {
  background-color: rgb(29.4, 81, 0);
  color: #fff;
}

.success-d2 {
  background-color: rgb(24.5, 67.5, 0);
  color: #fff;
}

.success-blk {
  background-color: rgb(9.8, 27, 0);
  color: #fff;
}

.success-trans-90 {
  background-color: rgba(49, 135, 0, 0.1);
  color: #fff;
}

.success-trans-70 {
  background-color: rgba(49, 135, 0, 0.3);
  color: #fff;
}

.success-trans-50 {
  background-color: rgba(49, 135, 0, 0.5);
  color: #fff;
}

.success-trans-30 {
  background-color: rgba(49, 135, 0, 0.7);
  color: #fff;
}

.success-trans-10 {
  background-color: rgba(49, 135, 0, 0.9);
  color: #fff;
}

.neutral-l1 {
  background-color: #E2E2E2;
}

.neutral-l2 {
  background-color: #F2F2F2;
}

.neutral-a {
  background-color: #BBBBBB;
  color: #fff;
}

.neutral-d1 {
  background-color: #4A4A4A;
  color: #fff;
}

.neutral-d2 {
  background-color: #323232;
  color: #fff;
}

.blk {
  background-color: #000000;
  color: #ffffff;
}

.rev {
  background-color: #ffffff;
  color: #000000;
}

/**  Sans Serif **/
/**  Serif **/
/** Font Settings **/
body {
  font-size: calc(16px + (22 - 16) * (100vw - 300px) / 1700) !important;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;
  font-weight: 400;
}

/**  Base Sizes **/
h1 {
  font-size: 240%;
  padding: 0.2em 0 0 0;
  line-height: 0.9;
}

h2 {
  font-size: 200%;
  padding: 0.2em 0 0 0;
  line-height: 0.9;
}

h3 {
  font-size: 180%;
  padding: 0.2em 0 0 0;
  line-height: 0.9;
}

h4 {
  font-size: 150%;
  padding: 0.2em 0 0 0;
  line-height: 0.9;
}

h5 {
  font-size: 130%;
  padding: 0.2em 0 0 0;
  line-height: 0.9;
}

h6 {
  font-size: 120%;
  padding: 0.2em 0 0 0;
  margin: 0.2em 0;
  line-height: 0.9;
}

p {
  font-size: 100%;
  padding: 0.2em 0 0 0;
  line-height: 1.7;
}

/** Set Fonts **/
p {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;
}

h1, h2, h3, h4, h5, h6, aside {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;
  font-weight: 700;
}

p, blockquote, ul, ol {
  line-height: 1.7;
  font-weight: 400;
}

/** Base Styles **/
code {
  font-size: 95%;
  color: #303036;
  background: #f8f8f8;
  padding: 0.4em;
  margin: 0.5vw;
}

p code {
  padding: 0.125em;
  margin: 0;
}

a {
  color: #A4D100;
  text-decoration-skip: ink;
  webkit-perspective: none;
  webkit-backface-visibility: none;
}

blockquote {
  border-left: 4px solid;
  color: #E2E2E2;
  font-style: italic;
  padding: 1em;
  font-size: 120%;
  line-height: 0.9;
}

cite {
  font-size: 80%;
}

cite:before {
  content: "—  ";
  margin-left: 1em;
}

sub, sup {
  font-size: 75% !important;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

hr {
  border-top: 2px solid;
  width: 98%;
}

.label {
  background: #F2F2F2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #BBBBBB;
  font-size: 60%;
  font-weight: normal;
  margin: 4em 0 0.5em -0.3em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  header, footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
  }
}
@media screen and (min-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
  body {
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "splash splash splash" "header header header" "main main main" "footer footer footer";
  }
  header, footer {
    flex-direction: row;
  }
}
/** Grid Colours **/
body {
  background: #F8F8F8;
}

/** Grid Postiions **/
header, main, section, footer {
  grid-column: span 3;
  webkit-perspective: 0;
  webkit-backface-visibility: none;
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
}

div {
  -webkit-transform: translateZ(0);
}

header {
  grid-area: header;
  flex-grow: 1;
}

main {
  grid-area: main;
  flex-grow: 3;
  background: #FAF9F8;
}

footer {
  grid-area: footer;
  flex-grow: 1;
}

header {
  color: #ffffff;
  background: #335C67;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header > div {
  padding: 0 1em;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
header div.social {
  display: none;
}
header div.social img {
  height: 1em;
  width: auto;
  padding: 0.25em;
  margin: 0 0.5em;
  fill: currentcolor;
}

.logo-present {
  display: none;
}

.brand img {
  height: 4em;
  width: auto;
}

@media only screen and (min-width: 600px) {
  header div.social {
    padding-left: 10vw;
    display: flex;
  }
}
@media only screen and (min-width: 1100px) {
  .brand {
    padding-right: 10vw;
  }
}
nav {
  flex: 2 2 100%;
  order: 1;
}

#menu {
  display: none;
  transition: all 0.5s ease;
  -webkit-transform: translateZ(0);
}

nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
}

nav ul li {
  list-style-type: none;
  background: #335C67;
}

nav ul li a {
  padding: 1em 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  text-decoration: none;
  color: #f9f9f9;
  text-align: center;
}

.dropdown ul {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.dropdown ul a {
  font-size: 80%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgb(17.2207792208, 31.0649350649, 34.7792207792);
}

nav ul li:hover, .dropdown ul a:hover {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  padding: 1em 2em;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  display: block;
  cursor: pointer;
}

/*Hide checkbox*/
input[type=checkbox] {
  display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu {
  display: flex;
}

label.show-menu:hover {
  background: rgb(17.2207792208, 31.0649350649, 34.7792207792);
}

@media only screen and (max-width: 480px) {
  .dropdownul li a {
    padding-left: 2rem;
  }
  .dropdown ul .dropdown ul a {
    padding-left: 3rem;
  }
  nav ul li:hover, .dropdown ul a:hover {
    background: rgb(0.3311688312, 0.5974025974, 0.6688311688);
  }
  .arrow-down::after {
    content: "\f107";
  }
}
@media only screen and (min-width: 1000px) {
  nav {
    flex: 1 1 20%;
    order: 0;
  }
  nav #menu {
    display: flex;
  }
  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  nav ul li {
    position: relative;
    flex: 1 0 auto;
    text-align: left;
    background: none;
  }
  .show-menu {
    display: none;
  }
  .dropdown > a:after {
    content: " +";
  }
  .dropdown ul, .dropdown ul .dropdown ul {
    display: none;
    width: 100%;
    position: absolute;
    padding: 0;
  }
  .dropdown ul .dropdown ul {
    left: 100%;
    top: 0;
  }
  nav ul li:hover ul, .dropdown ul .dropdown:hover ul {
    display: flex;
    flex-direction: column;
  }
}
section.hero {
  min-height: 20vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: cover, cover;
  background-color: #000000;
  background-position: center center;
  padding: 20vh 1em 0 1em;
  -webkit-transform: translateZ(0);
}
section.hero h2 {
  font-size: 450%;
  font-weight: 700;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
  margin: 0;
  align-self: flex-start;
}
section.hero h3 {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;
  font-weight: 300;
  font-size: 180%;
  font-style: italic;
  margin: 0 0 5vh;
  align-self: flex-start;
}
section.hero.full {
  min-height: 100vh !important;
}
section.hero.large {
  min-height: 70vh !important;
}
section.hero.medium {
  min-height: 50vh !important;
}
section.hero.small {
  min-height: 40vh !important;
}
section.hero.brand {
  padding: 3vh 5vw;
  justify-content: inherit;
}
section.hero.brand div {
  padding-right: 0;
  align-self: flex-start;
}
section.hero.brand div.brand a img {
  height: 30vh;
}
section.hero.brand div.tagline {
  background-color: #A4D100;
}
section.hero.brand .bottom-left {
  margin-left: -10vw;
  margin-bottom: 10vw;
  padding-right: 1rem;
}
section.hero.brand .bottom-left h3 {
  margin-left: 10vw;
  align-self: flex-start;
  padding: 1rem;
}
section.hero.brand .bottom-right {
  align-self: flex-end;
  margin-right: -10vw;
  margin-bottom: 10vw;
  padding-left: 1rem;
}
section.hero.brand .bottom-right h3 {
  margin-right: 10vw;
  align-self: flex-start;
  padding: 1rem;
}

section.card-grid {
  display: flex;
  flex-direction: column;
  background: #F2F2F2;
}
section.card-grid h2 {
  font-weight: 300;
  color: #335C67;
  border-bottom: 4px solid #335C67;
}
section.card-grid article {
  flex: 1 1 50%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  background: #F2F2F2;
  background-position: top center;
  background-size: cover;
}
section.card-grid article .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}
section.card-grid article h3, section.card-grid article p, section.card-grid article a {
  margin: 1em;
}
section.card-grid article h3 {
  text-align: center;
}
section.card-grid article:hover {
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

@media screen and (min-width: 768px) {
  section.card-grid {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 1em;
  }
  section.card-grid h2 {
    margin: 0;
    flex: 2 2 100%;
  }
  section.card-grid article {
    margin: 1em;
    flex: 0 1 25%;
  }
  section.card-grid .featured {
    flex: 2 2 50%;
  }
}
article.gridup {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 1rem;
}
article.gridup section {
  grid-column: auto;
  border-radius: 4px;
  padding: 0;
}
article.gridup section a {
  padding: 0.5rem;
  align-items: flex-start;
  color: #ffffff;
  height: 95%;
  width: 95%;
  text-decoration: none;
}
article.gridup section a h2 {
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}
article.gridup section a p {
  line-height: 1;
}
article.gridup section a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

section.feature {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-color: #000000;
  padding: 2vw;
  -webkit-transform: translateZ(0);
}
section.feature div.feature {
  background-size: cover, cover;
  background-position: center, center center;
}
section.feature div {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
section.feature div img {
  width: 100%;
  align-self: center;
  padding: 2vw 0;
}
section.feature div .lead {
  font-size: 130% !important;
}
section.feature div.centered {
  align-items: center;
  text-align: center;
}
section.feature div .full-screen {
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 700px) {
  section.feature {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: fit-content(50%);
    grid-auto-flow: row dense;
    align-content: center;
  }
  section.feature .full-screen {
    align-content: center;
  }
  section.feature div {
    grid-column: auto;
  }
  section.feature div.wide {
    grid-column: span 2;
  }
  section.feature div.tall {
    grid-row: span 2;
  }
  section.feature div.centered {
    grid-column: span 3;
  }
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F8F8F8;
  -webkit-transform: translateZ(0);
}
section article {
  width: 100%;
}
section article p img {
  max-width: 100%;
}

@media screen and (min-width: 700px) {
  section.article article {
    display: grid;
    grid-template-columns: 1fr 40em 1fr;
    grid-row: auto;
    grid-gap: 1em;
  }
  section.article article > * {
    grid-column: 2/span 1;
  }
  section.article article .bustout {
    grid-column: 1/span 3;
    padding: 0;
    margin: 0;
    min-height: 80vh;
  }
  section.article article h2 {
    border-bottom: 2px solid;
  }
  section.article blockquote.special {
    grid-column: 1/span 3;
    padding: 1em 0;
    margin: 0;
    border: none;
    font-style: normal;
  }
  section.article blockquote.special > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    font-size: 1.7rem;
    line-height: 1.7;
  }
  section.article aside {
    grid-column: 3;
    grid-row: auto/span 2;
    padding-right: 2em;
  }
}
footer {
  background: #303036;
  color: #ffffff;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
footer > * {
  padding: 1em 0;
}
footer .social img {
  height: 1em;
  width: auto;
  padding: 0.25em;
  margin: 0 1em;
  fill: currentcolor;
}
footer .legal {
  font-size: 70%;
  font-weight: 300;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
}
footer a {
  text-decoration: none;
}
footer .brand a {
  text-decoration: none;
  color: #ffffff;
}
footer .brand a p {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;
}

@media only screen and (min-width: 1000px) {
  footer {
    flex-direction: row;
  }
}
section.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
  padding: 5vw;
}
section.team h1 {
  border-bottom: 2px solid #000000;
  padding-bottom: 0.2em;
}

article.team-member {
  border-bottom: 1px #000000 solid;
}

.profile {
  display: flex;
  flex-direction: column;
}
.profile .thumb {
  width: 80%;
  padding-bottom: 80%;
  background-size: cover;
  background-position: center center;
}

.social img {
  height: 2em;
  width: auto;
  padding: 0.25em;
  margin: 0 0.5em;
  fill: currentcolor;
}

h5 {
  font-weight: lighter;
}

@media screen and (min-width: 700px) {
  section.team {
    padding: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: auto;
    grid-gap: 2vw;
  }
  h1 {
    grid-column: span 2;
    align-self: center;
    text-align: center;
  }
  article.team-member {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 1em;
    padding: 5vw 0;
  }
  .social img {
    height: 2em;
  }
}
@media screen and (min-width: 1100px) {
  article.team-member {
    grid-column: span 1;
  }
  .social img {
    height: 1em;
  }
}
section.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  background-color: #FAF9F8;
}
@media screen and (min-width: 700px) {
  section.contact {
    display: grid;
    grid-template-columns: 1fr 40em 1fr;
    grid-row: auto;
    grid-gap: 1em;
  }
  section.contact article {
    grid-column: 2/span 1;
    grid-row: 1;
  }
  section.contact article h2 {
    border-bottom: 2px solid;
  }
  section.contact p img {
    max-width: 100%;
  }
  section.contact aside {
    grid-column: 2/span 1;
    grid-row: 1;
  }
  section.contact aside .bustout {
    grid-column: 1/span 3;
    grid-row: 1;
  }
}
section.palette {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
section.palette:last-child {
  margin-bottom: 5em;
}
section.palette:first-child {
  margin-top: 5em;
}
section.palette h3 {
  flex: 100%;
  text-align: center;
}
section.palette .row {
  flex: 1 1 100%;
}
section.palette .brand {
  flex: 1 1 100%;
  margin: 0;
  padding: 0;
}
section.palette div {
  display: flex;
  flex: 1 1 10%;
  align-items: center;
}
section.palette div p {
  width: 100%;
  height: 2em;
}

.swatch {
  align-items: stretch;
  border-radius: 0.4em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  margin: 0.25em;
  min-height: 10vh;
}

.swatch p {
  background-color: #ffffff;
  color: #4A4A4A;
  display: block;
  text-align: center;
}

section.recipe {
  display: flex;
  flex-direction: column;
  margin: 0 5vw;
}

@media screen and (min-width: 700px) {
  section.recipe {
    display: grid;
    grid-template-columns: 10vw 2fr 1fr 10vw;
    grid-row: auto;
    grid-gap: 1em;
    align-items: flex-start;
  }
  section.recipe article.recipe {
    grid-column: 2/span 1;
  }
  section.recipe article.recipe .directions ol li {
    margin: 0.5rem 0;
    padding: 0 0.7rem;
  }
  section.recipe article.recipe aside {
    grid-column: 3/span 1;
    grid-row: 1/span 2;
  }
}
.btn-rev {
  color: #ffffff;
  -webkit-transform: translateZ(0);
}
.btn-rev:hover {
  background: #335c67;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.btn-blk {
  color: #000000;
  -webkit-transform: translateZ(0);
}
.btn-blk:hover {
  color: #ffffff;
  background: rgba(51, 92, 103, 0.9);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.call-to-action {
  font-size: 100%;
  border: 2px solid;
  padding: 1em 2em;
  text-transform: uppercase;
  border-radius: 0.5em;
  text-decoration: none;
  text-align: center;
  margin: 5vh 0 0 0;
}

.download-btn {
  -webkit-transform: translateZ(0);
  padding: 0.5em 1em;
  text-transform: uppercase;
  border-radius: 0.5em;
  text-decoration: none;
  background: transparent;
  text-align: center;
  line-height: 2;
  margin: 1em;
}
.download-btn:before {
  content: "";
}
.download-btn:hover {
  color: #af1a00;
  background: #335C67;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

div.filters-button-group {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em;
}

button.filter {
  flex: 0 1 8em;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.7em;
  margin: 0.2em;
}
button.filter:hover {
  background: #A4D100;
}

input:focus,
textarea:focus {
  -webkit-transform: translateZ(0);
  outline: 1px solid #335C67;
}

input,
textarea,
button {
  width: 100%;
  border: 1px solid #BBBBBB;
  min-height: 2em;
  padding: 0.5em;
  border-radius: 0.2em;
}

.image-container {
  width: 100%;
  box-sizing: border-box;
}

.image-container img {
  width: 100%;
}

.media {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.media__flex {
  align-items: center;
  justify-content: center;
}

.media__video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  width: 100%;
  overflow: hidden;
  background: gray;
}

.media__video iframe, .media__video object, .media__video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
figure figcaption {
  font-size: 90%;
  font-style: italic;
  color: #4A4A4A;
  text-align: center;
}
figure.center img {
  align-self: center;
}
figure.right img {
  align-self: flex-end;
}
figure.left img {
  align-self: flex-start;
}
