---

layout: default

---


{% for item in page.colours %}
  {% include palette.html %}
{% endfor %}

<section class="palette">

  <div class="brand swatch neutral-a">
    <h3>Neutral</h3>
</div>
  <div class="row">
    <div class="swatch rev">
      <p><span class="small-text">rev</span></p>
    </div>
    <div class="swatch neutral-l2">
      <p><span class="small-text">neutral-l2</span></p>
    </div>
    <div class="swatch neutral-l1">
      <p><span class="small-text">neutral-l1</span></p>
    </div>
    <div class="swatch neutral-a">
      <p><span class="small-text">neutral-a</span></p>
    </div>
    <div class="swatch neutral-d1">
      <p><span class="small-text">neutral-d1</span></p>
    </div>
    <div class="swatch neutral-d2">
      <p><span class="small-text">neutral-d2</span></p>
    </div>
    <div class="swatch blk">
      <p><span class="small-text">blk</span></p>
    </div>
  </div>

</section>
