---
layout: default
---
<article class="recipe">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <p><em>{% if page.description %} {{ page.description }}{% endif %}</em></p>
    <ul class="page-tags">
    {% for entry in page.tags %}
      <li style="display: inline; background-color: #23d160; color: #fff; padding: .25em;">{{ entry }}</li>
      {% endfor %}
    </ul>
  </header>

  <img src="../{{ page.image }}" />

  <div class="recipe-info">
    <ul>
      <li>Yield:{{ page.yield }}</li>
      <li>Prep Time: {{ page.prep-time }}</li>
      <li>Cookong Time: {{ page.cooking-time }}</li>
    </ul>

  <div class="post-content">
    {{ content }}
  </div>

</article>
