---

layout: default

---

{% include recipe-hero.html %}

<section class="recipe">

<article class="recipe">

<h3>Directions</h3>

<div class="directions">
  {{ page.content | markdownify }}
</div>

<figure class="center u-pad-extra">
  <img src="{{ page.image | absolute_url }}" style="width: 100%;" alt="{{ page.title }}" title="{{  page.title }}"/>
  <figcaption>{{  page.title }}</figcaption>
</figure>


</article>

<aside>

<ul style="list-style: none; padding: .5em; ">
  {% if page.yield %}<li>Yield: {{ page.yield | capitalize }}</li>{% endif %}
  {% if page.prep-time %}<li>Preparation Time: {{ page.prep-time }}</li>{% endif %}
  {% if page.inactive-prep-time %}<li>Inactive Preparation Time: {{ page.inactive-prep-time }}</li>{% endif %}
  {% if page.cooking-time %}<li>Cooking Time: {{ page.cooking-time }}</li>{% endif %}
  {% if page.original-link %}<li>Original Recipe: <a href="{{ page.original-link}}" target="blank">{{ page.original-source }}</a></li>{% endif %}
  {% if page.effort %}<li>Effort: {{ page.effort | capitalize }}</li>{% endif %}
  {% if page.season %}<li>Season: {{ page.season | capitalize }}</li>{% endif %}

</ul>

<h3> Ingredients</h3>

<ul style="list-style: circle;">
  {% for entry in page.ingredients %}
    <li>{{ entry }}</li>
  {% endfor %}
</ul>

</aside>

</section>
