section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $page;
  -webkit-transform: translateZ(0);

  article {
    width: 100%;

  p img {
    max-width: 100%;
  }
  }
}


@media screen and (min-width: 700px) {
section.article {

  article {
    display: grid;
    grid-template-columns: 1fr 40em 1fr;
    grid-row: auto;
    grid-gap: 1em;

    > * {
      grid-column: 2 / span 1;
  }

  .bustout {
    grid-column: 1 / span 3;
    padding: 0;
    margin: 0;
    min-height: 80vh
  }

  h2 {
    border-bottom: 2px solid;}
  }

  blockquote.special {
    grid-column: 1 / span 3;
    padding: 1em 0;
    margin: 0;
    border: none;
    font-style: normal;

    > * {
      margin-left: auto;
      margin-right: auto;
      max-width: 40em;
      font-size: 1.7rem;
      line-height: 1.7;
    }

  }

  aside {
    grid-column: 3;
    grid-row: auto / span 2;
    padding-right: 2em;
  }


}

}
